#log {
    list-style-type: none;
    padding: 0; 
    margin: 0 auto;
    text-align: center;
  }
  
  #log ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; 
  }
  
  #log li {
    margin-bottom: 10px; 
  }
  